<div class="nav" id="sideNav">
    <!-- <div class="d-block"> -->
        <ul>
            <li class="space">
                <img src="../../assets/leftNav/icons8_home_24px.png" alt="">
                <a href="" id="sideLink" class="nav-link"> Home</a>
            </li>
            <li class="space">
                <img src="../../assets/leftNav/icons8_compass_32px.png" alt="">
                <a href=""  class="nav-link"> Explore</a>
            </li>
            <li class="space">
                <img src="../../assets/leftNav/icons8_video_playlist_24px.png" alt="">
                <a href="" class="nav-link"> Subscription</a>
            </li>
        </ul>
        <!-- <button class="btn btn-lg" id="btn">Home</button>
        <button class="btn btn-lg" id="btn">Explore</button>
        <button class="btn btn-lg" id="btn">Subscription</button> -->
    <!-- </div> -->
    <hr>
    <!-- <div> -->
        <ul>
            <li class="space">
                <img src="../../assets/leftNav/icons8_books_24px.png" alt="">
                <a href="" class="nav-link"> Library</a>
            </li>
            <li class="space">
                <img src="../../assets/leftNav/icons8_time_machine_24px_1.png" alt="">
                <a href="" class="nav-link"> History</a>
            </li>
            <li class="space">
                <img src="../../assets/leftNav/icons8_video_24px.png" alt="">
                <a href="" class="nav-link"> Your videos</a>
            </li>
            <li class="space">
                <img src="../../assets/leftNav/icons8_time_64px.png" alt="" width="27px">
                <a href="" class="nav-link"> Watch later</a>
            </li>
            <li class="space">
                <img src="../../assets/leftNav/icons8_facebook_like_32px.png" alt="">
                <a href="" class="nav-link"> Liked videos</a>
            </li>
            <li class="space">
                <img src="../../assets/leftNav/icons8_chevron_down_30px.png" alt="">
                <a href="" class="nav-link"> Show more</a>
            </li>
        </ul>
        <!-- <button class="btn btn-lg" id="btn">Library</button>
        <button class="btn btn-lg" id="btn">History</button>
        <button class="btn btn-lg" id="btn">Your videos</button>
        <button class="btn btn-lg" id="btn">Watch later</button>
        <button class="btn btn-lg" id="btn">Liked videos</button>
        <button class="btn btn-lg" id="btn">Show more</button> -->
    <!-- </div> -->
    <hr>

</div>

<style>
    #sideNav{
        width: 150px;
    }
    #sideLink{
        width: 100%;
    }
    .space{
        margin: 10px;
    }
    .nav-link{
        color: black;
        
    }
</style>